@import "./palette";

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.bg-light {
  background-color: $lightgrey;
}

.bg-error {
  background-color: $error !important;
}

.text-light {
  color: $darkgrey;
}

.text-black {
  color: $textblack;
}

.text-white {
  color: $textwhite;
}

.text-primary {
  color: $primary;
}

.text-error {
  color: $error;
}
