<mat-card class="mb-3">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
        <form [formGroup]="userInfosForm">
            <div class="section-title d-flex justify-content-between align-items-center">
                <h3 class="m-0"><strong>Name &amp; Address</strong></h3>
                <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!isDirty">
                    Save
                </button>
            </div>
            <div class="py-3">
                <mat-divider></mat-divider>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Gender</mat-label>
                        <select matNativeControl formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field appearance="standard">
                        <mat-label>Firstname</mat-label>
                        <input matInput type="text" placeholder="Firstname" formControlName="firstname" />
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field appearance="standard">
                        <mat-label>Lastname</mat-label>
                        <input matInput type="text" placeholder="Lastname" formControlName="lastname" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="standard">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" placeholder="Address" formControlName="address">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="standard">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" placeholder="Address" formControlName="address2">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>City</mat-label>
                        <input matInput type="text" placeholder="City" formControlName="city">
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field appearance="standard">
                        <mat-label>State</mat-label>
                        <input matInput type="text" placeholder="State" formControlName="state">
                    </mat-form-field>
                </div>
                <div class="col-6 col-md-3">
                    <mat-form-field appearance="standard">
                        <mat-label>ZIP Code</mat-label>
                        <input matInput type="text" placeholder="ZIP" formControlName="postalCode">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="standard">
                        <mat-label>Country</mat-label>
                        <select matNativeControl formControlName="country">
                            <option value="Australia">Australia</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Switzerland">Switzerland</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>