.card {
  width: 100%;
  max-width: 360px;
}

mat-form-field {
  width: 100%;
}

.logo {
  height: 120px;
}

.action-box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect {
  text-align: center;
}
