<mat-card>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
        <h3 class="m-0"><strong>Change password</strong></h3>
        <div class="py-3">
            <mat-divider></mat-divider>
        </div>
        <button *ngIf="!showForm" mat-stroked-button (click)="showForm = true" class="my-3">Change password</button>
        <form *ngIf="showForm" [formGroup]="changePasswordForm" (ngSubmit)="onSave()">
            <div class="d-flex align-items-center">
                <mat-form-field class="flex-grow-1 mr-5">
                    <mat-label>Current password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error>Provide your current password.</mat-error>
                </mat-form-field>
                <mat-form-field class="flex-grow-1 mr-5">
                    <mat-label>New password</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                    <mat-error>Password must be minimum 8 characters</mat-error>
                </mat-form-field>
                <span>
                    <button mat-flat-button color="primary" type="submit">Change password</button>
                </span>
            </div>
        </form>
        <app-alert [show]="isSuccess" [dismissible]="true" type="success">Password changed successfully.</app-alert>
    </mat-card-content>
</mat-card>